@import "./reset.css";
@import "./header.css";
@import "./banner.css";

:root {
  --main-font: "Nunito Sans", sans-serif;
  --link-color: #8e9696;
  --link-color-hover: #213131;
  --banner-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
}

.container {
  margin: 0 auto;
  width: 1200px;
}
